{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "forOf": true,
    "jsx": true
  },
  "rules": {
    "strict": 0,
    "indent": [2, 2],
    "no-extra-parens": 0,
    "no-fallthrough": 0,
    "eqeqeq": 1,
    "semi": [2, "never"],
    "comma-style": [2, "first"]
  },
  "env": {
    "node": false,
    "browser": true,
    "es6": true,
  },
  "extends": "eslint:recommended",
  "globals": {
    "require": false,
    "window": false,
    "module": false,
    "__dirname": false,
    "Buffer": false,
    "describe": false,
    "it": false,
    "AWS": false
  },
  "plugins": [
    "eslint-plugin-react"
  ]
}
